.body {
    background: rgb(230, 173, 173);;
    width: 100%;
    height: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 10px;
    min-height: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgb(160, 197, 181);
    z-index: 5;
}

.rightdropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 10px;
    min-height: 10px;
    left: 50px;
    /* bottom: 312px; */
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgb(160, 197, 181);
    z-index: 2;
}

.tool:hover .rightdropdown-content {
    display: block;
}

.rightdropdown-content a:hover {
    background-color: rgb(255, 255, 255);
}

.rightdropdown-content a {
    border-radius: 10px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.leftdropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 10px;
    min-height: 10px;
    right: 60px;
    /* bottom: 312px; */
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgb(160, 197, 181);
    z-index: 2;
}

.tool:hover .leftdropdown-content {
    display: block;
}

.leftdropdown-content a:hover {
    background-color: rgb(255, 255, 255);
}

.leftdropdown-content a {
    border-radius: 10px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.tool:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(255, 255, 255);
}

.dropdown-content a {
    border-radius: 10px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.draw {
    position: relative;
    border: 2px solid black;
    flex: 1;
    overflow: hidden;
    border-radius: 10px;
    width: 1380px;
    height: 600px;
    left: 75px;
    box-shadow: 0 8px 10px -7px black;
    background: #ffffff;
    bottom: 850px;
}

.shapes {
    position: relative;
    width: 60px;
    height: 360px;
    top: 30px;
    background: #bbedf8;
    border-radius: 10px;
}

.saving {
    border-radius: 10px;
    position: relative;
    width: 290px;
    height: 65px;
    left: 200px;
    top: 16px;
}

.option:is(:hover, .active) img {
    filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}

.tool-bar {
    width: 110px;
    height: 1474px;
    border-radius: 0px;
    background: #d7d7d7;
}

section {
    border-radius: 50px;
}

.tools {
    border-radius: 10px;
    position: relative;
    width: 120px;
    height: 65px;
    bottom: 410px;
    left: 520px;
    background: #d4d3ff;
}

.colors {
    border-radius: 10px;
    position: relative;
    width: 290px;
    height: 65px;
    bottom: 475px;
    left: 670px;
    background: #ffffff;
}

.image {
    border-radius: 10px;
    position: relative;
    width: 63px;
    height: 320px;
    bottom: 525px;
    left: 1473px;
    background: #f8ddfe;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #fafafa;
    border-radius: 10px;
    display: block;
    gap: 10px;
}

li {
    /* float: left; */
    margin-left: 10px;
    margin-top: 10px;
}

li.option {
    float: left;
    margin-top: 10px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

.textbox {
    border-radius: 5px;
    height: 65px;
    width: 320px;
    position: relative;
    bottom: 540px;
    left: 990px;
    background: #fafafa;
}

.colors .option {
    margin-top: 15px;
    height: 20px;
    width: 20px;
    border-radius: 25%;
    position: relative;
    border: 1px solid rgb(0, 0, 0);
}

.colors .option:nth-child(1) {
    background-color: red;
}

.colors .option:nth-child(2) {
    background-color: rgb(30, 0, 255);
}

.colors .option:nth-child(3) {
    background-color: rgb(251, 255, 0);
}

.colors .option:nth-child(4) {
    background-color: rgb(0, 255, 4);
}

.colors .option:nth-child(5) {
    background-color: black;
}

.colors .option:nth-child(6) {
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
}

.colors .option:hover:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 14px;
    width: 14px;
    background: inherit;
    border-radius: inherit;
    border: 2px solid rgb(127, 110, 110);
    transform: translate(-50%, -50%);
}

.colors .option:last-child::before {
    border-color: rgb(197, 168, 168);
}

.option #color-piker {
    opacity: 0;
    cursor: pointer;
}

.buttons button {
    width: 100%;
    color: rgb(255, 254, 254);
    border: none;
    outline: none;
    padding: 11px 0;
    font-size: 0.9rem;
    margin-bottom: 13px;
    background: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons .clear-canvas {
    color: rgb(30, 0, 255);
    border: 1px solid rgb(30, 0, 255);
}

.clear-canvas:is(:hover, .active) {
    filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}

.buttons .save-img {
    color: rgb(30, 0, 255);
    border: 1px solid rgb(30, 0, 255);
}

.save-img:is(:hover, .active) {
    filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}

.option #size-slider {
    width: 100%;
    height: 5px;
    margin-top: 10px;
}