<div class="paint-body">
  <div class="tool-bar">
    <div class="dropdown">
      <button class="dropbtn">File</button>
        <div class="dropdown-content">
        <a href="Link">New</a>
        <a href="Link">Open</a>
        <a href="Link">Save</a>
        <a href="Link">Save As</a>
      </div>
    </div>
    <div class="saveimg">
      <a href="This PC"><img src="https://cdn-icons-png.flaticon.com/512/2874/2874091.png" width= "20" height= "20"/></a>
    </div>
    <div class="undoimg">
      <img src="https://cdn-icons-png.flaticon.com/512/3185/3185863.png" id="undo" width= "20" height= "20" (click)="undo()">
      
    </div>
  <div class="redoimg">
    <img src="https://cdn-icons-png.flaticon.com/512/3185/3185862.png" id="redo" width= "20" height= "20" (click)="redo()">
  </div> 
  <div class="shapes">
    <img src="https://cdn-icons-png.flaticon.com/512/8095/8095937.png"width="30" height="30" style="position: relative; left:2px"/>
    <img src="https://cdn-icons-png.flaticon.com/512/2627/2627937.png"width="30" height="30" style="position: relative; left:2px"/>
    <img src="https://cdn-icons-png.flaticon.com/512/2708/2708504.png"width="30" height="30" style="position: relative; left:4px"/>
    <img src="https://cdn-icons-png.flaticon.com/512/649/649738.png"width="30" height="30" style="position: relative; left:2px"/>
    <img src="https://cdn-icons-png.flaticon.com/512/481/481078.png"width="30" height="30" />
    <p  style="position: relative; left:50px; bottom: 20px;">shapes</p>
  </div>
  <div class="tools">
    <img src="https://cdn-icons-png.flaticon.com/512/603/603570.png"width="30" height="30" style="position: relative; left:2px"/>
    <img src="https://cdn-icons-png.flaticon.com/512/2015/2015014.png"width="30" height="30" style="position: relative; left:2px"/>
    <img src="https://cdn-icons-png.flaticon.com/512/3285/3285815.png"width="30" height="30" style="position: relative; left:4px"/>
    <p  style="position: relative; left:30px; bottom: 20px;">tools</p>
  </div>
  <div class="colors">
    <img src="https://cdn-icons-png.flaticon.com/512/0/14.png"width="30" height="30" style="position: relative; left:2px"/>
    <img src="https://cdn-icons-png.flaticon.com/512/597/597669.png"width="30" height="30" style="position: relative; left:2px"/>
    <img src="https://cdn-icons-png.flaticon.com/512/1281/1281225.png"width="30" height="30" style="position: relative; left:2px"/>
    <img src="https://cdn-icons-png.flaticon.com/512/594/594739.png"width="30" height="30" style="position: relative; left:2px"/>
    <img src="https://cdn-icons-png.flaticon.com/512/5853/5853933.png"width="30" height="30" style="position: relative; left:2px"/>
    <img src="https://cdn-icons-png.flaticon.com/512/1281/1281188.png"width="30" height="30" style="position: relative; left:2px"/>
    <p  style="position: relative; left:75px; bottom: 20px;">colors</p>
  </div>
  <div class="image">
    <img src="https://cdn1.iconfinder.com/data/icons/photo-editor-3/24/i24_photoedit_flip_horizontal-512.png"width="30" height="30" style="position: relative;left:5px"/>
    <img src="https://icon-library.com/images/rotate-image-icon/rotate-image-icon-16.jpg"width="30" height="30" style="position: relative; left:10px"/>
    <img src="https://www.shareicon.net/data/2016/06/17/595545_resize_512x512.png"width="30" height="30" style="position: relative; left:10px"/>
    <img src="https://d29fhpw069ctt2.cloudfront.net/icon/image/39083/preview.png"width="30" height="30" style="position: relative; left:10px"/>
    <img src="https://cdn-icons-png.flaticon.com/512/484/484560.png"width="30" height="30" style="position: relative; left:10px"/>
    <p  style="position: relative; left:75px; bottom: 20px;">iiiiiiiimage</p>
  </div>
</div>
</div>

