<div class="paint-body">
  <div class="tool-bar">
  <div class="menu-bar">
    <div class="first-row"></div>
    <div class="dropdown">
      <button class="dropbtn">File</button>
        <div class="dropdown-content">
        <a href="Link">New</a>
        <a href="Link">Open</a>
        <a href="Link">Save</a>
        <a href="Link">Save As</a>
      </div>
    </div>
    <div class="saveimg">
      <a href="link"><img src="https://cdn-icons-png.flaticon.com/512/2874/2874091.png" width= "20" height= "20"/></a>
    </div>
    <div class="undoimg">
      <img src="https://cdn-icons-png.flaticon.com/512/3185/3185863.png" id="undo" width= "20" height= "20" (click)="undo()">
      
    </div>
  <div class="redoimg">
    <img src="https://cdn-icons-png.flaticon.com/512/3185/3185862.png" id="redo" width= "20" height= "20" (click)="redo()">
  </div> 
  </div>
  <div class="shapes">
    <img src="https://cdn-icons-png.flaticon.com/512/8095/8095937.png"width="30" height="30" style="position: relative; left:2px"/>
    <img src="https://cdn-icons-png.flaticon.com/512/2627/2627937.png"width="30" height="30" style="position: relative; left:2px"/>
    <img src="https://cdn-icons-png.flaticon.com/512/2708/2708504.png"width="30" height="30" style="position: relative; left:4px"/>
    <img src="https://cdn-icons-png.flaticon.com/512/649/649738.png"width="30" height="30" style="position: relative; left:2px"/>
    <img src="https://cdn-icons-png.flaticon.com/512/481/481078.png"width="30" height="30" />
  </div>
  </div>
  </div>